/* @media only screen and (min-width: 768px) {

nav {
display: flex;
flex-direction: column;
justify-content: center;
background: white;
height: 100vh;
text-align: left;
padding: 2rem;
position: absolute;
top: 0;
left: 0;
transition: transform 0.3s ease-in-out;
}

} */